@font-face {
   font-family: 'ARIALNBI';
   font-display: swap;
   src: url('file:///C:/Users/Aashik%20J%20Krishnan/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-04-14_211213/fonts/ARIALNBI/font.TTF');
}
